<%- include('./header-partial'); %>
<body>
<h1>Albums</h1>
<div class="form-outline form-white">
    <input type="text" id="formWhite" class="form-control" />
    <label class="form-label" for="formWhite">Example label</label>
</div>
</body>
<%- include('footer-partial'); %>
