<%- include('header-partial'); %>
<body>

<div class="form-outline form-white">
    <label for="formWhite">Get book by ISBN</label>
    <input type="text" id="formWhite" class="form-control" />
    <button formaction="/add" type="submit" >Submit</button>
</div>

<div class="form-outline form-white">
    <label for="formWhite">Get book by title</label>
    <input type="text" id="formWhite" class="form-control" />
    <button formaction="/add" type="submit" >Submit</button>
</div>

<div class="form-outline form-white">
    <label for="formWhite">Get book by Author</label>
    <input type="text" id="formWhite" class="form-control" />
    <button formaction="/add" type="submit" >Submit</button>
</div>

<div class="form-outline form-white">
    <label for="formWhite">Get book by publisher</label>
    <input type="text" id="formWhite" class="form-control" />
    <button formaction="/add" type="submit" >Submit</button>
</div>


</body>
<%- include('footer-partial'); %>
